.ByMe-Div{
  margin-left: 20%;
  margin-right: 20%;
}

.ByMe-container {
    justify-content: center;
    align-items: center;
  }

.ByMe-Card {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid black;
  }

.ByMe-form {
    justify-content: center;
    background: rgba(224, 187, 187, 0.2);
  }
  
.ByMe-form-content {
    justify-content: center;
    padding-left: 12%;
    padding-right: 12%;
  }
  
.ByMe-h3{
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.ByMe-Margin{
  margin: 30px;
}

.ByMe-FormColor{
  background: #D9D9D9;
}

.ByMe-ButtonColorCancelar{
  width: 253px;
  height: 53px;
  background: #E75D5D;

}

.ByMe-ButtonColorIngresar{
  width: 253px;
  height: 53px;
  background: #8FA98F;

}


.ByMe-LabelForm{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}